// les couleurs de base
$color-primary: #059669;
$color-secondary: #f9a826;
$color-tertiary: #f4f4f4;
$bg-color: #f4f4f4;
$bg-dark-color: #262626;
$text-color: #1c1917;
$text-light-color: #fafaf9;

// les polices
$font-title: "Manrope", sans-serif;
$font-text: "Rubik", sans-serif;

// les tailles de mes textes
$text-xs: 0.8rem;
$text-sm: 1rem;
$text-md: 1.2rem;
$text-lg: 1.6rem;
$text-xl: 2rem;
$text-xxl: 3rem;
